[Unit]
Description=fatbot
After=network.target

[Service]
User=yakninja
WorkingDirectory=/home/yakninja/fatbot
EnvironmentFile=/home/yakninja/fatbot/.env
SyslogIdentifier=fatbot
ExecStart=/home/yakninja/fatbot/.venv/bin/python /home/yakninja/fatbot/fatbot.py
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target
