[Unit]
Description=uWSGI instance to serve fatbot
After=network.target

[Service]
User=yakninja
Group=nginx
WorkingDirectory=/home/yakninja/fatbot
Environment="PATH=/home/yakninja/fatbot/venv/bin"
ExecStart=/home/yakninja/fatbot/venv/bin/uwsgi --ini fatbot.ini

[Install]
WantedBy=multi-user.target